<h1>Hello</h1>
<div class="avatar">
	<img src="https://pbs.twimg.com/profile_images/488378304588570624/mu6-weCC_400x400.jpeg" alt="Avatar image">
</div>
</br></br>
<p>It´s me!</p>
<!--<p>Find me in app/views/pages/info.html.erb</p>-->
